[2014-06-04 14:30] aberner opened #1 "Java klienten må legges i egen mappe"
Jeg ønsker at java klienten legges i en egen prosjektmappe slik at dette prosjektet kan brukes for .net biblioteket og andre tilhørende prosjekter fremover.

[2014-06-04 15:52] aberner opened #2 "Release av bibliotek til public repository hos sonatype"
Legg ut release til repository definert her: https://issues.sonatype.org/browse/OSSRH-10156

[2014-06-10 07:31] #2 closed, assigned to hntv

[2014-06-11 11:44] #1 closed, assigned to hntv

[2014-06-13 08:15] janmj opened #3 "Noen problemer med avhengigheter"
Får ikke følgende avhengigheter helt til..

[code]

Ser ikke ut til at disse blir med i builden?

Jan M. Johansen

[2014-06-13 10:21] #3 closed, assigned to nobody

[2014-06-18 10:56] rocketfarmsteinar opened #4 "Sending av melding feiler i Apache Tomcat 7 og i Jetty 9."
Sending av melding feiler i Apache Tomcat 7 og i Jetty 9.

Ved signering av utgående melding får en unntak:

org.w3c.dom.DOMException: HIERARCHY_REQUEST_ERR: An attempt was made to insert a node where it is not permitted.
        at com.sun.org.apache.xerces.internal.dom.CoreDocumentImpl.insertBefore(CoreDocumentImpl.java:396)
        at com.sun.org.apache.xerces.internal.dom.NodeImpl.appendChild(

[2014-06-18 10:57] rocketfarmsteinar opened #5 "NullPointerException ved henting av forretningskvittering"
Vil melde om at følgende kall som skal hente kvittering fra meldingsformidler gir nullpointerexception.

ForretningsKvittering forretningsKvittering = postklient.hentKvittering(KvitteringForespoersel.builder(Prioritet.NORMAL).build());

12:47:29.799 [pool-1-thread-1] ERROR o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error occurred in scheduled task.
java.lang.NullPointerException: null

[2014-06-18 19:19] #5 closed, assigned to lillesand

[2014-06-19 11:42] #4 closed, assigned to lillesand

[2014-06-23 07:54] aberner opened #6 "Ønske om mulighet for å hente ut XML meldingene som sendes og mottas"
I forbindelse med utarbeidelsen av en funksjonell og teknisk testklient ( http://avsender-sdp.difi.no/ ) er det ønskelig å kunne hente ut og vise XML meldingene som går frem og tilbake.  Vi har mulighet for å få xml meldingen skrevet til loggen, men vi ønsker altså å hente de frem og vise de i web-gui i test klienten.

Dette er en utvidelse som ikke kreves for avsendere, men kun er av interesse fo

[2014-06-24 09:01] #6 closed, assigned to lillesand

[2014-07-07 11:44] rocketfarmsteinar opened #8 "Kan ikke sende meldinger med vedlegg med filnavn som starter med tall (blant annet)"
Hei

Det er ikke mulig å sende meldinger med vedlegg med filnavn som starter med tall (blant annet). F.eks. "2014-01-01-brev-til-steinar-fra-nav.pdf". Ser ut som om filnavn blir forsøkt validert som NCName (se f.eks. http://www.datypic.com/sc/xsd/t-xsd_NCName.html)

[http-bio-8080-exec-2] ERROR no.difi.sdp.webclient.service.MessageService - FAILED_SENDING_DIGITAL_POST
no.difi.sdp.webclient.service

[2014-07-07 13:03] #8 closed, assigned to nobody

[2014-08-15 11:40] eoftedal opened #10 "Dobbel-encoding av dokumentpakkefingeravtrykk i XML"
Fikset i sdp-shared-1.1.1

[2014-08-15 11:41] #10 closed, assigned to nobody

[2014-08-16 21:01] eoftedal opened #11 "Feil bruk av SHA256 ved hashing av dokumentpakke. Bruker SHA3 - skulle vært SHA2"

[2014-08-16 21:11] #11 closed, assigned to nobody

[2014-09-02 11:58] aberner opened #13 "Problemer med bruk av klienten på java 1.6.x"
Har et problem med å bruke meldingsformidlerklienten på java 1.6.X. Det fungerer utmerket med java 1.7. Av diverse årsaker er vi avhengig av å kunne benytte 1.6.x.

Får denne feilmeldingen ved bruk av 1.6.X

no.difi.sdp.client.domain.exceptions.KonfigurasjonException: Kunne ikke initialisere xml-signering
                at no.difi.sdp.client.asice.signature.CreateSignature.<init>(CreateSignature.

[2014-09-16 07:02] aberner opened #14 "Tilgang til opprinnelig Forretningskvittering: toString metodene gir ikke ut opprinnelig XML knyttet til en melding"
Avsendere har behov for enkel tilgang til de opprinnelige Forretningskvitteringene de mottar fra Postkassen. Dette for å kunne lagre/arkivere dette elementet med signaturer.

dette er blant annet knyttet til følgende forbedringsønske: https://github.com/difi/begrep-SikkerDigitalPost/issues/132
og Avsenders behov for å holde juridiske logger.

Det må legges til en den abstrakte  API klassen: https:

[2014-09-19 06:29] rocketfarmsteinar opened #15 "ExceptionMapper kan sjå ut til å svelge feil"
Hei

Vi har ein rar feil som vi har opplevd 2 ganger no. Klienten sluttar å konsumere kvitteringar utan at det rapporteres feil.

ForretningsKvittering forretningsKvittering = postklient.hentKvittering(KvitteringForespoersel.builder(prioritet).mpcId(configurationService.getConfiguration().getMessagePartitionChannel()).build());

I den forbindelse mistenker vi at hentKvittering(...) fra Java-biblio

[2014-09-19 07:21] rocketfarmsteinar opened #16 "SAAJ0545 og SAAJ0535"
Hei

Vi har ein rar feil som vi har opplevd 2 ganger no. Klienten sluttar å konsumere kvitteringar utan at det rapporteres feil.

I forbindelse med desse 2 tilfella har vi sett to "rare" loggmeldinger fra SAAJ.

Det kan virke som om dette er noko som "berre skjer" (logg vart skrevet på søndag og utanfor arbeidstid for dei fleste involverte?)

sep 14, 2014 7:05:24 PM com.sun.xml.messaging.saaj.soap

[2014-09-22 13:47] rocketfarmsteinar opened #17 "Bygging av ASIC feiler ved whitespace eller spesialbokstaver i filnavn"
Hei

Bygging av ASIC feiler ved whitespace eller spesialbokstaver i filnavn.

Dette pga ASIC bruker filnavn som URI.

Burde kunne løses ved å URI-encode filnavnet.

Mvh Steinar

no.difi.sdp.webclient.service.MessageService$MessageServiceException: java.lang.IllegalArgumentException: Illegal character in path at index 5: space space.pdf
    at no.difi.sdp.webclient.service.MessageService.sendMessag

[2014-09-24 17:42] #17 closed, assigned to fredrikbach

[2014-09-24 17:42] #15 closed, assigned to fredrikbach

[2014-10-01 09:12] aberner opened #18 "Feil i forbindelse med overgang til versjon 1.1.6"
Har nettop testet Klientbibliotek 1.1.6. Får ikke lengre sendt ting…
Får bare endeløse retry  linjer med:

[no.difi.sdp.client.internal.DigipostMessageSenderFacade$6] Validating using class path resource [sdp.xsd],class path resource [sdp-manifest.xsd],class path resource [SBDH20040506-02/StandardBusinessDocumentHeader.xsd],class path resource [ebxml/ebms-header-3_0-200704.xsd],class path resource

[2014-10-01 12:29] aberner opened #19 "Feil XSD for oppslagstjenesten blir brukt i SDP"
oppslagstjeneste meta xsd filen pakket i sdp-xsd.jar er ikke riktig. ref: https://github.com/difi/begrep-SikkerDigitalPost/issues/149

Oppdatert versjon av xsd'r for oppslagstjenesten må tas med i sikker digital post java klienten.

[2014-10-02 06:20] #18 closed, assigned to fredrikbach

[2014-10-15 10:07] rocketfarmsteinar opened #20 "Sporadisk "Klarte ikke å signere ASiC-E element" ved høy last"
Hei

Opplever sporadisk "Klarte ikke å signere ASiC-E  element" ved høy last (sender ~20 meldinger per sekund).

no.difi.sdp.webclient.service.MessageService$MessageServiceException: no.difi.sdp.client.domain.exceptions.XmlKonfigurasjonException: Klarte ikke å signere ASiC-E element.
        at no.difi.sdp.webclient.service.MessageService.sendMessageToMeldingsformidler(MessageService.java:290)

[2014-10-17 11:17] rocketfarmsteinar opened #21 "Samtidighetsproblem i SikkerDigitalPostKlient"
Rundt 10% av alle sendte meldingar får tilbake feilkvittering "KLIENT - FEIL SIGNATUR" fra Digipost ved høg last (rundt 55/s).

Har etter tips fra @eoftedal prøvd å køyre last med 1 SikkerDigitalPostKlient per tråd, som har fungert fint.

Det er altså eit samtidighetsproblem i SikkerDigitalPostKlient.

Flott om dere ser på dette.

Mvh Steinar

[2014-10-20 13:25] #19 closed, assigned to fredrikbach

[2014-10-20 13:25] #21 closed, assigned to nobody

[2014-11-02 19:20] #16 closed, assigned to nobody

[2014-11-02 19:20] #20 closed, assigned to nobody

[2014-12-01 14:00] aamundbr opened #22 "Problemer med flere instanser av biblioteket deployet på samme appserver"
Hei.

Vi har deploya fleire instanser av vår avsender-applikasjon på samme tomcat-instans.

Instansene er satt opp med identisk konfigurasjon, men det vi ser er at kun siste instans som blir lasta som fungerer. (Undeployer vi instansen som virker vil instansen som feiler begynne å virke...)

Dei andre instansene feiler med følgende exception:
no.difi.sdp.webclient.service.MessageService$MessageSer

[2014-12-02 14:37] #22 closed, assigned to nobody

[2015-01-07 10:24] aberner opened #23 "SDP klienten har med seg genererte klasser fra Oppslagstjenesten som skaper konflikt med de klasser som selv generer for integrasjon mot Oppslagstjenesten"
sdp-xsd har med seg oppslagstjenesten-metadata-14.05.xsd og generer klassene no.difi.begrep.Difi*** som kræsjer med de klassene jeg selv generer fra oppslagstjeneste wsdl'n.

## bakgrunn

- jeg har en enkel applikasjon som gjør oppslag mot oppslagstjenesten for så å sende ut digital post.
- applikasjonen generer integrasjonskode mot oppslagstjenesten ved å generer kildekode fra: http://begrep.difi

[2015-01-07 12:06] aberner commented on #23
org.apache.cxf.service.factory.ServiceConstructionException
                at org.apache.cxf.jaxb.JAXBDataBinding.initialize(JAXBDataBinding.java:327)
                at org.apache.cxf.service.factory.AbstractServiceFactoryBean.initializeDataBindings(AbstractServiceFactoryBean.java:86)
                at .........

Caused by: com.sun.xml.bind.v2.runtime.IllegalAnnotationsException: 7 counts of Il

[2015-01-08 12:40] aberner commented on #23
Feilen har blitt løst ved å endre følgende fil:
https://github.com/digipost/sdp-shared/blob/master/xsd/src/main/jaxb/bindings.xjb

 jag har bara kommenterat ut føljande:
[code]

[2015-01-12 11:17] landro commented on #23
Oppdaterte avhengighet til sdp-shared i 238304ce87337cf0aa34137bc02b8263c8c65afe

[2015-01-12 11:17] #23 closed

[2015-02-02 08:05] aberner opened #24 "FysiskPost: Inkonsistens i dokumentasjon og klientbibliotek knyttet til Land og Landkode"
I Følgende klasse:
https://github.com/difi/sikker-digital-post-java-klient/blob/master/src/main/java/no/difi/sdp/client/domain/fysisk_post/KonvoluttAdresse.java

metoden:
KonvoluttAdresse.iUtlandet

Så er det implementert at en Avsender skal enten legge inn en Landkode eller et Land.

Mens i dokumentasjonen av Fysiskpostadresse så er det definert at både Land og Landkode er påkrevd.
ref: http://be

[2015-02-02 11:17] runeflobakk commented on #24
Godt poeng!
Da jeg implementerte klassen tok jeg utgangspunkt i XSDen, hvor dette er uttrykt som en _choice_ mellom land og landkode. Ref: https://github.com/difi/begrep-SikkerDigitalPost/blob/master/xsd/sdp-melding.xsd#L288-L291

Kort oppsummert er dette for å tilby fleksibilitet til avsender, da det mest korrekte ville vært å tilby at avsender _kun_ kan angi landkode. Landkoden angir utvetydig h

[2015-02-02 14:01] aberner commented on #24
@runeflobakk
XSD'n kommer nok fra Posten sin eksisterende løsning, og ikke et aktivt bevist valg fra min side.
Jeg oppfatter står da at Choice'n i xsd'n er et godt alternativt.
Jeg oppfatter også at Landkode er det beste for Avsendere å velge. Da må dette dokumenteres og også komme tydelig frem i klient biblioteket.

Jeg forventer dermed at Posten håndterer alle landkoder som legges inn også derso

[2015-02-02 14:04] aberner opened #25 "KonvoluttAdresse.iUtlandet gir NullPointer dersom landkode er null"
Ved bruk av metoden KonvoluttAdresse.iUtlandet som bare tar inn land, ref: https://github.com/difi/sikker-digital-post-java-klient/blob/master/src/main/java/no/difi/sdp/client/domain/fysisk_post/KonvoluttAdresse.java#L97

så vil landkode var null i input og da vil nok følgende linje gi nullpointer:
https://github.com/difi/sikker-digital-post-java-klient/blob/master/src/main/java/no/difi/sdp/client

[2015-02-02 14:45] runeflobakk commented on #24
Dette stemmer på en prikk!

[`Landkoder.Predefinert`](https://github.com/difi/sikker-digital-post-java-klient/blob/master/src/main/java/no/difi/sdp/client/domain/fysisk_post/Landkoder.java#L18-L22) inneholder et knippe landkoder "for convenience" dersom man trenger det. I tillegg kan man angi en _ISO 3166-1_alpha-2 kode_ med `Landkoder.landkode(String)`-metoden.

Gitt at landkoden som angis er gyl

[2015-02-02 14:56] #25 closed

[2015-02-02 15:08] aberner commented on #24
Ja, dette bør komme frem i javadoc'n (og tilsvarende i .net klienten)

[2015-02-03 07:01] aberner commented on #24
dokumentasjonen på begrep.difi.no er nå oppdatert, ref. https://github.com/difi/begrep-SikkerDigitalPost/issues/169

Når javadoc er på plass i klientbiblioteket kan denne saken lukkes.

[2015-02-03 09:13] #24 closed

[2015-03-24 08:03] bedzon opened #26 "Class cast exception"
Kreftregisteret har ikke varit oppsatt som gyldig avsendere tidligere og derfor har vi en del brev som ikke blitt sendt riktig i testmiljöet. Når vi pröver at hente en leveringskvittering for disse brevene får vi nå en class cast exception:

I de fall vi får en feil-kvittering fra dere av typen «no.difi.begrep.sdp.schema_v10.SDPFeil» så får vi en feil når det skal type casta denne meldingen til en

[2015-03-24 08:12] runeflobakk commented on #26
Kan du sende stacktrace?

[2015-03-24 08:26] bedzon commented on #26
Ok, dette er alt av stacktrace vi får:
2015-03-24 09:19:52,610 ERROR [SdpReceiptPollerService] no.krg.sdp.service.facade.threads.SdpReceiptPollerService - Caught exception while polling for receipt... Error: java.lang.ClassCastException: no.difi.begrep.sdp.schema_v10.SDPFeil cannot be cast to no.difi.begrep.sdp.schema_v10.SDPKvittering
        at no.digipost.api.representations.SimpleStandardBusin

[2015-03-24 08:46] runeflobakk commented on #26
Dersom klassen deres `SdpReceiptPollerService` ikke bruker `SikkerDigitalPostKlient.hentKvittering(..)` eller `SikkerDigitalPostKlient.hentKvitteringOgBekreftForrige(..)`, så bør dere kalle `EbmsApplikasjonsKvittering.getStandardBusinessDocument()` for å få et `SimpleStandardBusinessDocument`. Denne klassen har følgende metoder for å sjekke hva slags type kvittering det er:

- `SimpleStandardBusin

[2015-03-24 09:04] bedzon commented on #26
ok, ikke helt sikker på vad du mener med det siste du skriver.
Vi bruker den hentKvitteringOgBekreftForrige, det ser ut så her i kildekoden:
         ForretningsKvittering currentReceipt = getDigitalPostClient().hentKvitteringOgBekreftForrige(KvitteringForespoersel.builder(Prioritet.NORMAL).mpcId(mpcId).build(), lastReceipt);
Klarer den Forretningskvittering ikke å ta emot en feil?

[2015-03-24 09:09] runeflobakk commented on #26
Iflg. stacktracen så gjør deres klasse `SdpReceiptPollerService.java` på linje 69 et kall til `EbmsApplikasjonsKvittering.getKvittering()`. Dette kallet må erstattes med et kall til EbmsApplikasjonsKvittering.getStandardBusinessDoc

[2015-03-24 09:17] runeflobakk commented on #26
Iflg. stacktracen så gjør deres klasse SdpReceiptPollerService.java på linje 69 et kall til `EbmsApplikasjonsKvittering.getKvittering()`. Dette kallet må erstattes med et kall til `EbmsApplikasjonsKvittering.getStandardBusinessDocument()` for å få et `StandardBusinessDocument`

Hvis dere har en `ForretningsKvittering`:

[code]

Jeg ser at APIet her i klientbibliotekt ikke her helt bra m.t.p. [Law

[2015-03-24 09:27] runeflobakk opened #27 "Opprydning i API rundt ForretningsKvittering"
Det er en del design-flaws i klassene rundt ForretningsKvittering og EbmsApplikasjonsKvittering.

- [x] metoden `EbmsApplikasjonsKvittering.getKvittering()` merkes som `@Deprecated`. Ref #26

 `ForretningsKvittering` bør berikes med flere API-metoder for å slippe å hente ut `ForretningsKvittering.applikasjonsKvittering.getStandardBusinessDocument()`:
- [x] metode for å sjekke hva slags type det er

[2015-03-24 09:36] bedzon commented on #26
Bra, dere kan lukke denne saken nå. Takk for rask hjelp!

[2015-03-24 09:39] runeflobakk commented on #26
Takk for rapport! :)

[2015-03-24 09:39] #26 closed

[2015-03-30 10:09] idar opened #28 "Truststore"
Vi holder på å teste i produksjon:
Der får vi følgende feil:
2015-03-30 12:06:02,266 [qtp904144151-21] INFO  mf.logger.translog - [sender] [984661185] UTGÅENDE PULLREQUEST mpc:[urn:norma
l:svarut] conversationId:[] instanceId:[] messageId:[44576edb-09c5-42dc-9479-fa692ccc1beb]
2015-03-30 12:06:02,384 [qtp904144151-21] WARN  mf.logger.translog - [sender] [984661185] SOAPFAULT fault:[PolicyNoncompli

[2015-03-30 10:29] idar commented on #28
Bruker v 1.2.1

[2015-04-08 09:23] landro commented on #28
@idar , jeg ser at meldingsformidleren gir dere en EBMS PolicyNoncompliance error. Hvem ønkser dere å sende på vegne av? Har dere fått opprettet en konto i mf og digipost?
Er det noen grunn til at dere "tester" mot produksjon?

[2015-04-08 09:24] aberner commented on #28
saken kan nok lukkes, da feilen kommer av at nødvendige tilganger ikke er gitt i produksjon enda.

[2015-06-25 09:59] aberner opened #29 "standard varsling som settes opp er i ikke i henhold til det som anbefales for Avsendere som skal varsle"
I https://github.com/difi/sikker-digital-post-java-klient/blob/master/src/main/java/no/difi/sdp/client/domain/digital_post/EpostVarsel.java er standard at det settes opp ett varsel samtidig som brevet blir tilgjengeliggjort for mottaker.

Avsendere sitt bruk av varslinger er styrt av eForvaltningsforskriften §8a (http://lovdata.no/dokument/SF/forskrift/2004-06-25-988/KAPITTEL_2#%C2%A78) og dokumen

[2015-06-26 14:49] runeflobakk commented on #29
Er denne endringen OK å release as-is? Det fikser en "bug" som sådan, men dette medfører likefullt en oppførselsendring. Skal det gjøres noe mer seremonielt enn å bare release en ny minor-versjon?

[2015-08-31 14:20] runeflobakk opened #30 "Kan Java-versjon oppdateres til 7?"
Java 6 begynner å bli gammelt, og vi ser mer og mer tendensen at også mere kritiske biblioteker  begynner å droppe støtte for Java 6. Eksempelvis krever [WSS4J](https://ws.apache.org/wss4j/) minimum Java 7 f.o.m. versjon 2.1.x.

Gjelder #13 fremdeles, at klientbiblioteket må fungere på Java 6? Eller kan minimum Java-versjon oppdateres til versjon 7?

[2015-08-31 14:22] aberner commented on #30
Jeg skal ta en sjekk med virksomhetene som bruker biblioteket.

[2015-09-03 08:21] aberner commented on #30
følger opp saken, men ikke fått noe tilbakemelding. Avventer svar i neste uke.

[2015-09-17 10:35] aberner opened #31 "Exception har misvisende feiltekst"
Har opplevd å få følgende feilmelding:

`no.difi.sdp.client.domain.exceptions.SendException: An unhandled exception occured while performing request
        at no.difi.sdp.client.internal.DigipostMessageSenderFacade.performRequest(DigipostMessageSenderFacade.java:142)
        at no.difi.sdp.client.internal.DigipostMessageSenderFacade.performRequest(DigipostMessageSenderFacade.java:123)
Caused by:

[2015-09-17 11:01] kagkarlsson commented on #31
Här kunde klient-bilioteket differentierat på lite fler fel-typer, se WSSecurityException.ErrorCode enum. (I detta tillfället ErrorCode.MESSAGE_EXPIRED)

[2015-09-21 08:53] aberner opened #32 "Mulighet for resending av samme melding med samme InstanceIdentifier"
Dersom en Avsender får en feil i forbindelse med sin sending av digital post så kan det bli behov for å forsøke en resending. For å resende eksakt samme forsendelse må både konversasjonsid og InstanceIdentifier være lik i den opprinnelige forsendelsen og i den etterfølgende resendingen.

Klientbiblioteket støtter ikke at en avsender kan  sette InstanceIdentifier. Den blir generert som en random UU

[2015-09-22 07:27] aberner commented on #30
@runeflobakk Avsendere har behov for at vi støtter java 6 frem til og med 04.2016.

[2015-10-09 08:43] aberner opened #33 "De siste versjonene som er levert mangler release info i git"
Det er ikke lagt ut noen releaser ( https://github.com/difi/sikker-digital-post-java-klient/releases) siden versjon 1.1.8.
Dermed har ikke de siste versjonen fått noe realease dokumentasjon og det er vanskeligere å følge med på innholdet i nye versjoner og hvilke som er prereleases/drafts og hvilke som er offiselle nye versjoner.

[2015-10-14 06:34] aberner opened #34 "Ønsker mulighet for å stoppe requester til feil miljø"
Vi opplever at flere avsender i sin testing blander mellom det funksjonelle testmiljøet og produksjon.
Klientbiblioteket har informasjon om et sertifikat er et gyldig produksjonssertifikat eller ikke og kan dermed stoppe requestene før de sendes og gi en fornuftig feilmelding/exception tilbake til utvikler/tester.

Klientbiblioteket må ta høyde for følgende ved innføring av en slik mekanisme:
- De

[2015-10-14 07:30] aberner opened #35 "URL til meldingsformidler bør inneholde org.nummer til avsender"
Vi ser at det hadde vært fordelaktig om avsender sitt org.nummer hadde vært enkelt tilgjengelig i URL'n brukt mot meldingsformidler. Dette gjør at vi enklere/raskere kan feilsøke og bruke denne informasjonen f.eks. for å begrense/skille trafikken.

forslaget er at url'n endres slik at org.nummeret legges på enden av url'n omtrent slik:

- https://qaoffentlig.meldingsformidler.digipost.no/api/9908:

[2015-10-22 12:24] aberner opened #36 "Behov for å vite størrelse på lagret Dokumentpakke"
ref. issues lagt ut på .net biblioteket.
https://github.com/difi/sikker-digital-post-klient-dotnet/issues/118

[2015-10-26 11:38] aberner commented on #29
@kjorlaug Har du noe forslag til hvordan denne endringen bør versjoneres?

[2015-10-26 11:38] #28 closed

[2015-11-04 09:23] asjafjell commented on #35
Hva tenker du om denne, @kagkarlsson? Vil dette fungere med Meldingsformidleren slik den er satt opp nå?

[2015-11-04 09:31] asjafjell commented on #13
Dette kortet har ingen utestående oppgaver. Lukker saken.

[2015-11-04 09:31] #13 closed

[2015-11-04 09:32] asjafjell commented on #14
@aberner: Er dette fortsatt et behov?

[2015-11-04 09:37] asjafjell commented on #33
Dette er noe som har blitt forsømt i de siste releasene, og vi skal bli bedre på dette i framtiden. Ønsker du at vi lager release notes på gamle, eller er det nok at vi tar tak i det fra nå av?

[2015-11-04 09:51] aberner commented on #35
@asjafjell Det har blitt diskutert med dere og testet sammen med dere i testmiljøet allerede.
Ihvertfall så er den enkle varianten testet, med org.nummer til databehandler. Løsning for å få frem org.nummer både til behandling og dataansvarlig er ikke testet.

[2015-11-04 10:02] aberner commented on #14
@asjafjell enten så bør dette implementeres eller så bør forslaget til @eoftedal dokumenteres slik at det enkelt kan finnes av avsendere.
Det er anbefalt at alle avsendere logger Leveringskvitteringen som et bevis på at forsendelsen er ok.

Dermed så synes jeg at dette burde støttes av klientbibliotektet ut av boksen uten at avsender må gjøre en spesiell konfigurasjon.

[2015-11-04 10:04] aberner commented on #33
Det bør foreligge release dokumentasjon for alle endringer, også for de gamle som mangler dette.

[2015-11-04 13:27] kagkarlsson commented on #35
@asjafjell Ja, vi behöver inte göra några ändringar på server-sidan för att det ska fungera. Vi behöver dock göra ändringar för att kunna presentera mer information i meldingsformidler. Men det är en separat sak tänker jag.

@aberner Om det finns några integrationer på horisonten där behandlingansvarlig != dataansvarlig så borde vi kanske lägga upp till det i url-pattern från starten.

[2015-11-04 13:40] aberner commented on #35
Ja vi har slike integrasjoner (behandlingansvarlig != dataansvarlig) på vei inn

[2015-11-11 13:02] landro opened #37 "Avslutte støtte for java 1.6"
Oracle avsluttet public support for java 1.6 i februar 2013. Ref http://www.oracle.com/technetwork/java/eol-135779.html avsluttes _Premier support_ i desember 2015.

Foreslår derfor at støtte for java 1.6 avsluttes i dette bibliotektet, og at minimum fra nå av blir versjon 1.7

[2015-11-11 13:08] landro opened #38 "Avslutte støtte for java 1.7"
Ref http://www.oracle.com/technetwork/java/eol-135779.html sluttet Oracle å utgi Public Updates for Oracle JDK 7 i april 2015.

Det er i tillegg en rekke nye interessante språk features i java 1.8, slik at det er ønskelig å avslutte støtte for java 1.7 så fort som mulig.

Java 9 er for øvrig etter planen tilgjengelig fra 2016-09-22

[2015-11-11 13:09] aberner commented on #37
Det er ok å avslutte støtte for java 1.6 i dette biblioteket.
Dersom alvorlige feil i klientbiblioteket mot formoding dukker opp vil de da kunne måtte håndteres ved at dagens versjon av klient-biblioteket patches. Difi har behov for å kunne gi støtte til avsender som brukere java 1.6 frem til og med april 2016 i produksjon.
Men ny funksjonalitet kan altså leveres i et klientbibliotek som ikke er b

[2015-11-11 13:14] aberner commented on #38
Det er ok å avslutte støtte for java 1.6 i dette biblioteket ref. #37
Difi har ikke undersøkt avsenderes spesifikke behov for java 1.7.

Dersom alvorlige feil i klientbiblioteket mot formoding dukker opp vil de da kunne måtte håndteres ved at dagens versjon av klient-biblioteket patches. Difi har behov for å kunne gi støtte til avsender som brukere java 1.6 frem til og med april 2016 i produksjon.

[2015-11-11 13:23] aberner commented on #37
informasjon om denne endringen er lagt ut her: https://samarbeid.difi.no/nyheter/2015/11/digital-postkasse-til-innbyggere-java-klientbibliotek-vil-ikke-supportere-java-16-og (krever pålogging)

[2015-11-11 13:24] aberner commented on #38
informasjon om denne endringen er lagt ut her: https://samarbeid.difi.no/nyheter/2015/11/digital-postkasse-til-innbyggere-java-klientbibliotek-vil-ikke-supportere-java-16-og (krever pålogging)

[2015-11-11 13:48] #30 closed

[2015-11-11 13:48] landro commented on #38
Utmerket. Det er mildt sagt krevende å holde dette biblioteket oppdatert så lenge man fremdeles må forholde seg til 1.6.

[2015-11-28 13:35] tingstad opened #39 "Bekrefte kvittering med kun konversasjonsId?"
Metodene SikkerDigitalPostKlient.bekreft() og hentKvitteringOgBekreftForrige() tar inn parameteret "forrigeKvittering" av type ForretningsKvittering.

Det betyr at ForretningsKvittering som returneres fra hentKvittering() må holdes i minnet helt til man vil bekrefte, og at hent() og bekreft() må skje "synkront" i en og samme applikasjonsinstans.

Vi ønsker å kunne kalle bekreft(String konversasjon

[2016-01-27 12:11] aberner commented on #29
Denne endringen må følge opp med en versjonering som viser at ny versjon bryter med eksisterende funksjonalitet. så dette blir vel da en endring av major versjon. eller hva sier du @kjorlaug ?

[2016-02-01 11:48] asjafjell commented on #33
Denne er bare glemt lukket. Lukker nå.

[2016-02-01 11:48] #33 closed

[2016-02-01 15:27] kristianenge commented on #32
Jeg har funnet ut at instanceIdentifier ikke er det eneste som må endres for å få resendingen til å fungere i biblioteket. Endringene som må til går også en del dypere enn klientbiblioteket så må avklare hva det har å si for de andre som bruker samme avhengighetene.

Estimerer hvor stor denne oppgaven er og når vi kan få bistand og kommer tilbake med svar.

[2016-02-04 21:34] kjorlaug commented on #29
Ser eg må jobbe med responstid :-)

Det har vel strengt tatt ikkje vore landa om vi skal bruke same verjsonering her som i dokumentasjonen. Eg stemmer vel for @runeflobakk sin variant med ein minor release og at dette er ein bugfix. Det hadde vore annarleis om ein ikkje hadde default-verdi og fjerna funksjonen heilt...

[2016-02-05 06:42] asjafjell commented on #29
Dette er ikke en fullstendig endring av grensesnitt og masse nye features, så jeg stemmer også for at dette bør være en minor-versjon.

[2016-02-05 07:01] kjorlaug commented on #29
Ser at de med fordel kan ta fram @aberner sitt poeng med varsling i dokumentasjonen - står ikkje mykje om varsling i eksempelet der. Som Arne er inne på så er dette sentralt i forskrifta...

[2016-02-05 09:09] kagkarlsson commented on #32
Vi har sett lite på denna issuen, och som @kristianenge nämner har det visat sig att vi måste göra lite större ändringar för att stötta re-sending av SDP-meldingen.

En förutsättning för att re-sending ska gå ok (dvs ge OK transportkvittering tillbaka) är att man brukar samma message-id (i EBMS-konvolutt) och att digest för body (SDP) och attachment (krypterad AsicE) är identisk, dvs. ger samma di

[2016-02-05 09:17] aberner commented on #32
dette gjør at oppgaven blir større/mer omfattende.
Foreslår at vi lar denne ligge til det blir et større/konkret behov for avsendere.

[2016-04-25 14:31] asjafjell commented on #38
Er det slik at det er ok å oppgradere til Java 1.8, @aberner, eller er det 1.7 som er ønskelig?

[2016-04-25 14:31] #38 closed

[2016-04-25 14:32] asjafjell commented on #39
Hva tenker du om denne, @kagkarlsson?

[2016-04-26 05:48] aberner commented on #38
Det er avtalt at vi skal avslutte støtte for både java 1.6 og 1.7

[2016-04-26 06:10] asjafjell commented on #38
Jeg ville bare forsikre meg. Takk for raskt svar!

[2016-04-28 13:42] aberner commented on #14
@tor-kleiberg ref. dagens prat. Leveringskvittering med signaturer er ikke noe som er tilbudt ut av boksen av API'ene i klientbibliotekene.

[2016-05-02 08:47] asjafjell commented on #37
Dette er fikset i versjon [2.0.0](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22sikker-digital-post-klient-java%22)

[2016-05-02 08:47] #37 closed

[2016-05-03 11:36] aberner commented on #32
denne saken lukkes, da det er relativt omfattende å fikse og samtidig er usikkerhet omkring behovet.
Dersom behovet dukker opp på nytt eller viser seg å være viktig å realisere så åpnes eventuelt arbeidet på nytt.

[2016-05-03 11:36] #32 closed

[2016-06-16 08:37] asjafjell commented on #39
Nå er dette mulig ettersom `ForretningsKvittering` implementerer interfacet `KanBekreftesSomBehandletKvittering` i [2.1.0](http://search.maven.org/#artifactdetails%7Cno.difi.sdp%7Csikker-digital-post-klient-java%7C2.1.0%7Cjar)

[2016-06-16 08:37] #39 closed

[2016-06-16 08:38] asjafjell commented on #27
Dette er fikset i [2.1.0](http://search.maven.org/#artifactdetails%7Cno.difi.sdp%7Csikker-digital-post-klient-java%7C2.1.0%7Cjar)

[2016-06-16 08:38] #27 closed

[2016-06-22 11:21] asjafjell commented on #35
Denne er utviklet og url blir på formatet: `{MF-Url}/{Databehandler}/{Avsender}` og vil bli slik uansett om det er samme organisasjon som er `Databehandler` og `Avsender` for å slippe den mentale mappingen når man leser urler. Er ute i _1.2.0-SNAPSHOT_

[2016-06-22 11:21] #35 closed

[2016-09-05 13:33] mhoel opened #52 "Feil under oppretting av SikkerDigitalPostKlient"
Oppretter en SikkerDigitalPostKlient og får feil i biblioteket under oppretting av JAXB marshaller. Legger ved stacktrace.

`Exception in thread "main" java.lang.ExceptionInInitializerError
	at no.digipost.api.xml.Marshalling.getMarshallerSingleton(Marshalling.java:67)
	at no.digipost.api.MessageSender$Builder.getDefaultMarshaller(MessageSender.java:338)
	at no.digipost.api.MessageSender$Builder.b

[2016-09-05 14:27] mhoel commented on #52
Beklager den lange stacktracen.

Ser ut som konflikten er at JAXB marshaller finner duplikater på classpath. Det er to avhengigheter som inkluderer JAXB genererte utgaver av elementer som "{http://uri.etsi.org/01903/v1.3.2#}ObjectIdentifierType". Objektene har samme pakkenavn og klassenavn og ligger vel på samme classpath i modulen jeg prøver å kjøre.

Avhengighetene det gjelder er no.digipost:sdp

[2016-09-05 15:13] runeflobakk commented on #52
Det er tydelig at commons-asic ikke spiller så veldig på lag med sdp-xsd ja.
De genererte JAXB-klassene for `ts_102918v010201.xsd` i hhv. sdp-xsd og commons-asic er generert i _samme pakke_, men selve kodegenereringen er konfigurert litt ulikt. Dette medfører for eksempel at i sdp-xsd har XML-typen `ObjectIdentifierType` fått klassen `org.etsi.uri._01903.v1_3.ObjectIdentifier`, mens i commons-asic

[2016-09-05 15:22] aberner commented on #52
Dette ligner vel veldig på tidligere konflikt mellom dette biblioteket og oppslagstjenesten. #23

Så håper det er en enkel fiks på dette.

[2016-09-05 15:30] mhoel commented on #52
Takk for svar! Jeg fant ut at parent pom-en hadde en avhengighet til commons-asic (og det skal den jo ikke ha).

Men det er litt u-kult at disse avhengighetene ikke kan være på classpath sammen :)

En kjapp fiks hadde vært som du nevner @runeflobakk nevner å legge til en jaxb binding sånn at det ikke blir noe navnekollisjon. Alternativt kunne man skilt ut generering i en egen avhengighet som deles

[2016-09-05 15:47] mhoel commented on #52
Det er en setting til jaxb maven plugins som quick-fikser problemet ganske enkelt. Under configuration kan man legge til et xml element som angir pakkenavn alt skal genereres under. (Ikke alltid det blir så vakkert hvis det er flere skjema).

<packageName>no.difi.prosjektnavn[..].etsi</packageName> under <configuration> for jaxb-plugin

I maven-jaxb2-plugin er det <generatePackage>no.difi.prosjekt

[2016-09-20 09:43] asjafjell commented on #34
Er det slik at det er ønskelig å stoppe sending mot testmiljø med produksjonssertifikat også, @aberner? At dette er tillatt nå er kun av historiske grunner og vi tenker at vi bør stoppe dette også. Er du enig?

[2016-09-20 10:38] aberner commented on #34
problemet her er først og fremst at avsender spammer produksjonsmiljøet under sin utvikling/testing, og ikke at en avsender sender til test i stedet for produksjon.
men det er vel riktig slutning at produksjonssertifikater ikke skal brukes mot testmiljøet. Det er vel ikke tillatt i dag eller?

[2016-09-20 10:47] asjafjell commented on #34
Her er vi helt enige! Jo, det er faktisk mulig, men dette tenker vi å sette en stopper for i klientbibliotekene. Høres ut som vi er enige i at dette gjelder begge veier, selv om det er viktigst i det tilfellet du skisserer.

[2016-09-27 10:05] asjafjell commented on #34
Det er avsendere som gjør dette i dag, @aberner. Skal vi bare slå av støtten for å sende mot test med prodsertifikater eller skal disse informeres først?

[2016-09-27 11:07] aberner commented on #34
Hvilke avsendere er det som gjør dette? kan du sende meg en e-post med en liste over de som gjør dette så kan jeg vurdere dette.

[2016-09-27 11:17] asjafjell commented on #34
Har du mulighet til å oppdrive dette til Arne, @landro?

[2016-09-30 06:50] aberner commented on #34
virksomhetene som bryter med dette vil bli informert og endringen kan realiseres.

[2016-10-04 14:06] asjafjell commented on #29
Ser at det tekniske i dette issuet er løst, så lukker denne.

[2016-10-04 14:06] #29 closed

[2016-10-04 14:08] asjafjell commented on #52
Siden løsningen ble postet av @mhoel og ingen aktivitet har vært her på 1 måned så regner jeg med dette er fikset i det andre biblioteket.

[2016-10-04 14:08] #52 closed

[2016-10-04 14:28] mhoel commented on #52
@asjafjell vi fikset det ved å opprette en modifisert lokal versjon av det andre biblioteket hvor jeg la til jaxb bindings for de xsd-ene det måtte gjelde. Jeg er litt usikker på veien vår videre med denne. Nå er ikke dette direkte feil i dette prosjektet, men heller i en av avhengighetene no.digipost:sdp-xsd.

    <bindings scd="x-schema::e" xmlns:e="http://uri.etsi.org/01903/v1.3.2#">
        <s

[2016-10-07 12:20] aberner opened #56 "Støtte for sending av flere dokumenter - ref versjon 1.2.4 av grensesnitt dokumentasjonen"
Klientbiblioteket må oppdatere XSD i henhold til versjon 1.2.4 av grensesnitt dokumentasjonen.
https://github.com/difi/begrep-SikkerDigitalPost/releases/tag/1.2.4

Dette for å kunne støtte sending av mer enn 10 vedlegg.

Endringen er planlagt realisert i løpet av desember 2016 i produksjon så klient biblioteket må ha en ny versjon med støtte for dette i god tid før dette.

[2016-10-10 10:10] #36 closed

[2016-10-31 10:09] aberner commented on #56
jeg har behov for å få denne leveransen innen 11. november slik at vi kan få tid til å teste det ut og kunne være klare for funksjonell testing av e-boks, digipost og utskriftstjenesten.

[2016-10-31 10:28] asjafjell commented on #56
Dette skal vi få til. Snakket tidligere i dag med @SimonsUnikaNamn og da ble det bekreftet at det er i rute. Vi må bare få gjort noen ytelsestester internt. Du får beskjed når dette er tilfelle, og det blir selvfølgelig før 11. november.

[2016-11-11 12:12] mhoel commented on #14
Som @aberner har vi også et behov for å hente ut kvitteringen i sin helhet med Signaturelementet for å persistere den i vår database. Jeg har innsett at vi kan gjøre det via interceptors på Spring WS template og det er supert at dere tilbyr, men jeg tror det blir mye renere kode om abstraksjonen som returneres fra klienten var oppdatert til å tilby dette. Interceptor er fint for logging, men hvis

[2016-11-23 17:05] oyri commented on #56
Me skal ta i bruk den nye versjonen 4.1.0 i difi testavsender, men ser at den berre ligg som ein release på github-prosjektet og ikkje i maven repository slik som føregåande artifacts. Kan de også deploye denne til maven repo (https://mvnrepository.com/artifact/no.difi.sdp/sikker-digital-post-java-klient)?

[2016-11-24 13:48] asjafjell commented on #56
Den er deployet, men ligger under navnet _sikker-digital-post-klient-java_. Dette ble gjort om på for litt over et halvår siden. Du ser forskjellen hvis du søker på [sikker-digital-post](https://mvnrepository.com/search?q=%22sikker-digital-post-klient%22).

[2016-11-24 13:51] asjafjell commented on #56
Jeg lukker denne siden det kom i produksjon i [v4.1.0](https://github.com/difi/sikker-digital-post-klient-java/releases/tag/4.1.0). Det er foreløbig kun støttet mot _difitest/qaoffentlig_, men fra et klientperspektiv er dette implementert, så jeg lukker bare denne.

[2016-11-24 13:51] #56 closed

[2016-11-29 13:00] asjafjell commented on #31
Denne er fikset i [5.0.0](https://github.com/difi/sikker-digital-post-klient-java/releases/tag/5.0.0).

[2016-11-29 13:00] #31 closed

[2016-12-07 07:25] oyri opened #61 "Er patcha versjon av saaj nødvendig ved køyring av ytelsetestar?"
Ved køyring av ytelsetestar frå Testavsendaren legg me i dag til anna versjon av saaj-impl enn det som er pakka med sikker-digital-post-klient-java som kjem med versjon 1.3.23.
Me ekskluderer denne og legg heller ved denne: com.sun.xml.messaging.saaj:saaj-impl:1.3.26-SNAPSHOT etter anbefalling frå dykk (Stefan landrø) i okt 2014 pga alvorleg ytelseproblem i saaj.

Eg ser at det har skjedd endringa

[2016-12-07 08:05] asjafjell commented on #61
Dette kan kanskje @landro svare på?

[2016-12-07 10:06] landro commented on #61
Det korte svaret, @oyri, er at ytelsestesten vil yte dårligere(du vil trenge flere cpu-er på last-generatorene), men det er ikke _nødvendig_.

[2016-12-07 10:10] oyri commented on #61
OK, har de nokon plan om å oppdatere saaj versjon i sikker-digital-post-klient-java?

For vår del kan me sikkert bruke siste versjon frå https://github.com/digipost/saaj både for funksjonell testing og ytelsetesting.

[2016-12-07 11:05] landro commented on #61
Nei. Det får være litt opp til den enkelt å avgjøre hvilken versjon man vil bruke. Dessuten kan det tenkes at man ikke trenger avhengigheten i det hele tatt, hvis man bruker en ny nok versjon av jdk-en (mem måten SAAJ kommer inn i jdk-en er rimelig krevende å forstå, og det er også vanskelig å vite hvilken versjon som brukes av jdk-en per default. Oracle patcher basert på support-henvendelser, og

[2016-12-12 13:25] aberner opened #62 "Ønsker mulighet for å bruke forskjellige URL'r mot MF på sending av post og henting av kvitteringer"
ref: https://github.com/difi/sikker-digital-post-java-eksempel-webclient/issues/6

Vi ønsker å kunne bruke forskjellige URL'r mot MF når vi sender post og når vi henter kvitteringer.
Dette fordi vi ønsker en enkel måte å følge med på og skille de forskjellige requesten.

[2016-12-23 16:27] mpuzar opened #63 "Feilmeldinger i prodmiljøet, selv om alt ser ut til å fungere fint"
Hei,

Jeg får to forskjellige feil i prod-miljøet, men IKKE i verifikasjonsmiljøet. Først så trodde jeg det var pga at jeg brukte gammel klient (1.2.1), men ser nå samme oppførsel med 5.0.0.

1. Feil ved polling av kvitteringer:

Denne oppstår hver gang applikasjonen min poller for kvitteringer og det ikke er noe der. Tidligere var feilen litt mer utfyllende og sa bl.a. "Klarte ikke å verifisere s

[2016-12-27 14:25] asjafjell commented on #63
Hei! Takk for svært god feilbeskrivelse. Vi tar tak i denne så snart det lar seg gjøre!

[2016-12-28 08:55] asjafjell commented on #63
I tidligere versjoner av klienten (pre 5.0.0) så ville man få feilmeldingen _Klarte ikke å verifisere signatur på responsen …_ selv om trust store var satt opp riktig. I versjon 5.0.0 er dette fikset så denne feilmeldingen bare kommer når det er reelt. Jeg skulle gjerne visst hva du gjorde for å fikse dette, siden du sier _Tidligere var feilen litt mer utfyllende_. Ble det slik over natta eller gj

[2016-12-28 10:28] mpuzar commented on #63
I tidligere versjon hadde jeg sertifikat-feilmeldingen. I 5.0.0 får jeg derimot ovennevnte SendException i stedet.

[2016-12-28 10:32] asjafjell commented on #63
Dette er med stor sannsynlighet en feil i klienten. Har du mulighet til å lage en (Gist)(https://gist.github.com/) med kode som reproduserer problemet?

[2016-12-28 12:55] mpuzar commented on #63
Her er det viktigste (tror jeg) fra klassen:
https://gist.github.com/mpuzar/66e3b88f26efb525f52c9d6ff3865349

[2016-12-28 13:23] asjafjell commented on #63
Er det mulig for deg å hente ut issuer fra virksomhetssertifikatet dere bruker?

[2016-12-28 13:41] mpuzar commented on #63
Owner: SERIALNUMBER=971035854, CN=FSAT, OU=FSAT, O=UNIVERSITETET I OSLO, C=NO
Issuer: CN=Buypass Class 3 CA 3, O=Buypass AS-983163327, C=NO
Serial number: 7f6a43e872fb7ca0fad93
Certificate fingerprints:
         MD5:  EB:AD:EC:D7:B4:2F:3A:26:19:81:9E:EE:8E:F4:36:DF
         SHA1: F8:0C:BB:19:8B:5A:8D:39:C6:C2:72:D5:57:C3:2B:09:94:84:DC:AE
         SHA256: DC:65:90:D6:0F:F1:FC:B4:B1:DC:97:C0:84:55:

[2016-12-28 13:53] mpuzar commented on #63
Som sagt så klarer den fint å hente en kvittering når det faktisk er noe å hente (f.eks med eBoks som alltid er tregere med å få levert ting).

[2016-12-29 06:05] asjafjell commented on #63
Vi har en avsender som sender meg et ugyldig sertifikat selv om det er utstedt av en virksomhetsutsteder, og vet ikke i hvilken grad dette påvirker sending og validering, så ville bare se om det var deg. Det er det ikke.

Kunne du sendt koden for hvordan du initierer `Noekkelpar` og databehandler? Husk å ta en ekstra sjekk på at du ikke sender med passord til sertifikat i gisten.

[2016-12-29 06:39] asjafjell commented on #63
Kan du sende en ny melding mot prod som feiler og gi meg tidspunkt og konversasjonsid? Jeg finner noen feil i loggen etter din sending i går, men kan ikke bekrefte at det er knyttet til deg. Prøvde å sjekke rundt tidspunktet nevnt den 23. desember og der fant jeg dessverre ikke denne feilen.

[2016-12-29 09:34] mpuzar commented on #63
Det er altså to vidt forskjellige typer feil det er snakk om (i hvert fall sett fra mitt ståsted):
1) Feil ved polling av kvitteringer - ingen konversasjonsId, det skjer hvert minutt
2) Feil ved sending - her kan vise til et superferskt eksempel: 2fbf4df7-d0ea-4fc8-a3e6-0920bfa50660, 2016-12-29 10:20:36

Ang. Nokkelpar, ikke mye hokus-pokus der. Her er en forkortet versjon av det som skjer:
[code]

[2016-12-29 10:52] asjafjell opened #65 "Innebygd trust store inneholder ikke sertifikater for produksjonsmiljø"
Ser ved debugging av `Noekkelpar.getStandardTrustStore` at det kun lastes sertifikater for testmiljø til Commfides og Buypass. Dette gjør at overload `Noekkelpar.fraKeyStoreUtenTrustStore`  ikke kan brukes mot et produksjonsmiljø. Det bør også dokumenteres bedre hvordan en slik store kan lages om man ikke ønsker å bruke den innebygde.

[2016-12-29 10:54] asjafjell commented on #63
Beklager at det blir en del fisking her, men vi er ganske tynt bemannet i romjula (les: bare meg) og jeg har ikke stålkontroll på denne klienten. Det kan hende det er to vidt forskjellige feil, men du opplever dette kun i produksjonsmiljøet og ikke i test, og det eneste som er forskjellig mellom disse er sertifikater og eventuelle virksomhetsinnstillinger. Som du sier så kommer brevene gjennom, no

[2016-12-29 10:59] mpuzar commented on #63
Fisking er bedre enn ikke-fisking, så kjør på! :) Setter pris på all hjelp jeg kan få. Når det gjelder sertifikatene så spurte jeg Difi om det tidligere (nettopp fordi medlingen tidligere klagde på mangel på sertifikater) men fikk beskjed om at det ikke var nødvendig fordi "public key er en del av request og respons i meldingene". Så nei, jeg har ingen andre sertifikater i keystoren. Vet heller ik

[2016-12-29 12:36] mpuzar commented on #63
Oi oi, så det VAR det som manglet hele tiden... Takk, det gjorde susen!

Her tenker jeg at dokumentasjonen kan forbedres litt - informasjon om dette er veldig vanskelig å finne fra forsiden til dokumentasjonen (http://begrep.difi.no/SikkerDigitalPost/) med mindre man vet fra før hvordan man skal klikke seg fram dit.

Fint om dere også gir beskjed om det til kundestøtte (det var Ivar jeg først hadd

[2016-12-29 12:46] asjafjell commented on #63
Så flott at det fungerte! Det ble jammen litt famling i blinde, men fint å se at vi fant ut av det til slutt.

Det er dokumentert [her i prosjektdokumentasjonen](https://difi.github.io/sikker-digital-post-klient-java/v4-5/#opprette-klient-og-sende-post) hvordan man kan bruke en keystore uten trust store. Dette aktiverer trust store internt i klienten og gjør at du slipper å lage en slik store selv

[2016-12-29 12:46] #63 closed

[2017-01-17 11:59] asjafjell commented on #65
Fikset i [5.1.1](https://github.com/difi/sikker-digital-post-klient-java/releases/tag/5.1.1)

[2017-01-17 11:59] #65 closed

[2017-01-17 12:00] asjafjell commented on #34
Denne ble implementert i [5.1.0](https://github.com/difi/sikker-digital-post-klient-java/releases/tag/5.1.0)

[2017-01-17 12:00] #34 closed

[2017-01-17 12:02] asjafjell commented on #61
Jeg lukker denne pga inaktivitet. Det er bare å åpne igjen @oyri om det er flere spørsmål knyttet til denne i framtiden 💯

[2017-01-17 12:02] #61 closed

[2017-01-30 09:44] rocketfarmsteinar opened #68 "Kan ikkje bygge på grunn av at utdatert versjon av saaj-impl ikkje lenger er tilgjengelig i Maven"

[2017-01-30 09:44] #68 closed

[2017-04-03 08:04] aberner opened #70 "Støtte for forsendelser med tittel på opp til 255 tegn"
ref: https://github.com/difi/begrep-SikkerDigitalPost/issues/191

Det er ønskelig at klientbiblioteket støtter endringen av feltene tittel og ikkeoffentligtittel.
Det er kun snakk om en mindre endring av XSD'n, klientbiblioteket må validere input i henhold til den.

endringen er planlagt satt i produksjon i juni 2017, klientbiblioteket ønskes oppdatert i løpet mai slik at det kan testes i forbinde

[2017-04-04 07:16] rocketfarmsteinar commented on #70
Hei Arne.

Den er grei. Tenker vi tek dette så kjapt det let seg gjere, men må komme tilbake til akkurat når.

[2017-04-04 11:07] iko3 opened #71 "Feil signatur på AsicE"
We are no longer able to send messages due to "Feil signatur på AsicE" error.

Message gets sent successfully
`sikkerDigitalPostKlient.send(forsendelse);`
but when we try to retrieve the receipt
[code]
we get an error that the message hasn't been delivered:

`Feil{konversasjonsId=XXXXXX, feiltype=KLIENT, detaljer='Feil signatur på AsicE'}`

What might be the cause of this problem? This is in produ

[2017-04-04 11:09] rocketfarmsteinar commented on #71
Hi

We'll investigate this and get back to you.

[2017-04-04 11:29] aberner commented on #71
@iko3
could you please give us the conversationId used?

[2017-04-04 11:31] iko3 commented on #71
For example, this one 96d7234a-5696-4c12-b0fd-eff80e323084

[2017-04-04 11:50] rocketfarmsteinar commented on #71
@iko3 This is most likely a configuration problem.

If you contact idporten@difi.no they will help you investigate what the actual problem is.

We'll close this issue for now, but don't hesitate to reopen if it turns out that the problem is in the client library.

[2017-04-04 11:50] #71 closed

[2017-04-25 08:23] aberner commented on #62
https://github.com/digipost/sdp-shared/issues/17

[2017-04-26 07:09] SimonsUnikaNamn opened #72 "Skifta posten_test.pem"
Sertifikatet har utlöpt, det nya sertifikatet är

-----BEGIN CERTIFICATE-----
MIIE9DCCA9ygAwIBAgILAT+iGF2ISezHpl4wDQYJKoZIhvcNAQELBQAwUTELMAkG
A1UEBhMCTk8xHTAbBgNVBAoMFEJ1eXBhc3MgQVMtOTgzMTYzMzI3MSMwIQYDVQQD
DBpCdXlwYXNzIENsYXNzIDMgVGVzdDQgQ0EgMzAeFw0xNzA0MjQwODM0NDZaFw0y
MDA0MjQyMTU5MDBaMFoxCzAJBgNVBAYTAk5PMRgwFgYDVQQKDA9QT1NURU4gTk9S
R0UgQVMxHTAbBgNVBAMMFFBPU1RFTiBOT1JHRSBBUyBURVNUMRIwEAYDVQQFEw

[2017-05-18 07:22] rocketfarmsteinar commented on #62
Vi har sendt forespørsel til Digipost om denne, men forespørselen er enn så lenge ikkje svart. Har purra.

digipost/sdp-shared#17

[2017-05-18 07:42] rocketfarmsteinar commented on #72
Hei @SimonsUnikaNamn

Takk for beskjed og beklagar seint svar.

Vi skal oppdatere dette og melder tilbake når det er gjort.

[2017-05-29 08:27] #72 closed

[2018-12-11 12:00] runeflobakk commented on #70
Dette blir fikset av #77 , som jeg bare venter på at jeg skal få mulighet til å publisere. Krever bare en bekreftende kommentar på https://issues.sonatype.org/browse/OSSRH-44601.

[2019-04-12 10:28] FrodeBjerkholt opened #81 "Tilgang til WebServiceTemplate"
Vi har behov for kunne mocke WebService-kallet i sikker-digital-post-klient. For å gjøre det på enkel måte, så trenger vi tilgang til WebServiceTemplate. Jeg har laget [pull-request](https://github.com/difi/sikker-digital-post-klient-java/pull/80).

[2019-04-12 14:15] #81 closed

[2019-04-12 14:17] runeflobakk commented on #81
Fikset i versjon 5.5
Bør dukke opp i Maven Central om ikke så lenge, når [denne lenken](https://search.maven.org/remotecontent?filepath=no/difi/sdp/sikker-digital-post-klient-java/5.5/sikker-digital-post-klient-java-5.5.pom) ikke gir 404

[2020-12-16 09:23] JoakimBor opened #100 "Spørsmål: Er det støtte for å hente og bekrefte flere kvitteringer samtidig?"
Hei!
Vi forventer å sende ut en god chunk (750k+) brev gjennom dpi i starten av januar og ønsker derfor å høre om det i dag er støtte for å hente flere kvitteringer om gangen? Slik vi har satt det opp i dag henter vi kun 1 kvittering / sec men vi kommer nok til å skru denne til å bli langt mer greedy ved den store kjøringen - altså hente kvitteringer til det er tomt. Her hadde det vært ønskelig å

[2020-12-23 10:30] velfundert commented on #100
Hei!

Det er dessverre kun mulig å hente én kvittering av gangen fra Meldingsformidleren.

[2021-01-04 12:58] #70 closed

[2021-08-26 10:27] TimAa-nav-dev opened #106 "Unable to get sms when ussing digipost at test env."
When calling dkif in test enviorment, we expect getting an sms with this object but we get an epost instead. Does test env have some config or options that are hindering sms message.
Last time we testet was 17.08.2021.

[code]

[2021-08-30 10:59] TimAa-nav-dev commented on #106
Any status on  this case?

[2021-09-02 13:00] #100 closed